{% extends 'base.html.twig' %}

{% block title %}Attack List{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('attack_list') }}
{% endblock %}



{% block body %}


	<h1>Liste des attaques</h1>

	<table class="table table-hover">
		<thead>
		{# tr stands for row #}
		<tr>
			<div class="alert alert-primary">
				Clique sur l'attaque voulue, ou filtre par types / CT / CS
			</div>
		</tr>
		{# jQuery type / phys-spec / CT / CS selector #}
		<tr>
			<th>Nom attaque</th>
			<th>Type</th>
			<th>Puissance</th>
			<th>Précision</th>
		</tr>
		</thead>

		<tbody>
		{# One raw by attack #}
		<tr>
			<td>Psyko</td>
			<td>
				<button type="button" class="btn btn-poketype btn-xs btn-dark">PSY</button>
			</td>
			<td>
				90
			</td>
			<td>
				100
			</td>
		</tr>
		{# One raw by attack #}
		<tr>
			<td>Psyko</td>
			<td>
				<button type="button" class="btn btn-poketype btn-xs btn-dark">PSY</button>
			</td>
			<td>
				90
			</td>
			<td>
				100
			</td>
		</tr>
		{# One raw by attack #}
		<tr>
			<td>Psyko</td>
			<td>
				<button type="button" class="btn btn-poketype btn-xs btn-dark">PSY</button>
			</td>
			<td>
				90
			</td>
			<td>
				100
			</td>
		</tr>

		</tbody>
	</table>

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('attack_list') }}
{% endblock %}
