{% extends 'base.html.twig' %}

{% block title %}Create Resource{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('create_resource') }}
{% endblock %}



{% block body %}


    <h1>Entrer nouveau élément</h1>

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('create_resource') }}
{% endblock %}
