{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer attaque {{ attack.name }}</h1>

        {{ form_start(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block title %}
    Editer attaque {{ attack.name }}
{% endblock %}