{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h2>Editer {{ pokemon.name }}</h2>
    </div>

{% endblock %}

{% block title %}
    {{ pokemon.name }} - édition
{% endblock %}