{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Créer un pokemon</h1>
        {{ dump(pokemon) }}
        {{ include('admin/pokemon_form.html.twig', { button: 'Créer'}) }}        
    </div>

{% endblock %}

{% block title %}
    Créer pokemon
{% endblock %}
